.LoginBox {
	margin-top: 50px;

	.form-group {
		margin-bottom: 0px;
	}

	.form-group-1 {
		display: flex;
		width: 100%;
		margin-top: 20px;

		.portfolio-selector {
			flex: 1;
			margin-right: 8px;
		}
	}

	.user-name, .user-password {
		margin: 0px 0px 20px 0px;

		input {
			height: 42px;
		}
	}

	.user-password {
		input {
			padding-right: 70px;
		}
	}

	.signin-btn {
		height: 44px;
		span {
			color: white;
		}
	}

	.SettingsButton {
		position: absolute;
		top: 10px;
		right: 10px;
		color: var(--text-color);
		transition: color 0.1s ease-in;

		&:hover {
			color: var(--text-color2);
		}
	}
}
