.DepositModal main {
	position: relative;
	.section {
		margin: 10px 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.symbol-name {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 0px;
		font-size: 18px;
		color: white;
	}

	.qrcode {
		align-self: center;
		background: #fff;
		padding: 20px;
	}

	.infobox {
		display: flex;
		align-items: center;
		padding: 12px 14px;
		background-color: var(--background-color);
		border-radius: 4px;

		img {
			display: block;
			margin-right: 14px;
		}

		p {
			color: var(--text-color2);
			margin: 0;
			font-size: 14px;
		}
	}

	.copy {
		p {
			color: #72CE56;
			text-align: right;
			margin-bottom: 0px;
		}
		.copied-icon {
			position: absolute;
			width: 20px;
			right: 50px;
		}
	}
}
