@import '../../styles/variables';

.WithdrawModal main {
	.error-msg {
		text-align: center;
		color: var(--red-color);
	}
	
	.section {
		display: flex;

		input {
			height: 42px;
		}

		.user-password {
			input {
				padding-right: 70px;
			}

			span {
				left: 200px;
			}
		}	
	}

	.withdraw-fee {
		display: flex;
		margin-top: 30px;
		margin-bottom: 5px;
		font-size: 12px;
		color: rgba(255,255,255,0.5);

		:first-child {
			width: 80%;
			text-align: right;
			padding-right: 17px;
		}
	}

	.withdraw-total {
		display: flex;
		
		:first-child {
			width: 80%;
			text-align: right;
			padding-right: 17px;
			color: white;
			font-size: 16px;
		}

		:last-child {
			color: #54A1DA;
		}

	}

	.section--withdraw--btn {
		margin-top: 25px;
		
		.cancel-btn, .continue-btn {
			cursor: pointer;
			width: calc(50% - 10px);
			height: 44px;
			span {
				color: white;
			}
		}
	
		.cancel-btn {
			margin-right: 10px;
		}
	
		.continue-btn {
			margin-left: 10px;
		}
	}

	label {
		width: 100px;
		font-size: 14px;
		font-weight: 600;
		color: white;
		line-height: 42px;
	}

	.symbol-name, .confirm-title {
		text-align: center;
		margin-bottom: 0px;
		font-size: 18px;
		color: white;
	}

	.balance {
		text-align: center;
		font-size: 12px;
		color: white;

		span {
			color: #54A1DA;
		}
	}

	.confirm-description {
		font-size: 14px;
		color: rgba(255,255,255,0.7);
		text-align: center;
		margin-bottom: 39px;
	}

	.resend-code {
		font-size: 12px;
		color: white;
		margin-top: 30px;
		margin-bottom: 3px;
		text-align: center;

		span {
			color: #54A1DA;
		}
	}
	
	.currency-icon {
		position: relative;
		width: 30%;
		min-width: 150px;
		border: 1px solid #707070;
		border-radius: 3px;
		margin: 0 auto;
		padding: 30px 30px;
		text-align: center;
		margin-bottom: 30px;

		img {
			width: 46px;
			height: 46px;
		}

		.copied-icon {
			position: absolute;
			width: 24px;
			top: 20px;
			right: 20px;
		}
	}

	.currency-name {
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 0px;

		strong {
			margin-right: 5px;
		}
	}

	.withdraw-success {
		text-align: center;
		font-size: 18px;
		color: white;
	}

	.withdraw--modal-close-btn {
		text-align: center;
		
		button {
			cursor: pointer;
			width: 200px;
		}

		span {
			color: white;
		}
	}

	.amount-inputs {
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
		// position: relative;

		.Input__view {
			word-break: break-all;

			.long-symbol {
				font-size: 11px;
			}
		}

		.separator {
			margin: 0 20px;
			color: var(--text-color);
		}

		.Link {
			position: absolute;
			top: -13px;
			left: 112px;
			line-height: unset;
			font-size: 12px;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
		transition: opacity 0.2s ease-in;

		&.hidden {
			opacity: 0;
		}

		span {
			font-size: 14px;
			color: var(--text-color);
		}

		&:first-child {
			margin-bottom: 20px;
		}

		.negative-balance {
			color: var(--red-color);
		}
	}

	.withdraw-button,
	.confirm-button {
		align-self: center;
		width: 200px;
		margin-top: 30px;
	}
}
