@import '../../styles/variables';

.CreatePortfolio {
	padding: 20px 20px;

	.signup-title {
		text-align: center;
		margin-top: 70px;
		margin-bottom: 50px;
		color: white;
		font-size: 18px;
	}

	h1 {
		font-size: 22px;
		text-align: center;
		margin-top: 70px;
		margin-bottom: 32px;
	}

	.user-email, .user-name, .user-password, .user-confirmpassword {
		margin: 0px 0px 20px 0px;

		input {
			height: 42px;
		}
	}

	.signup-btn, .save-code-btn{
		cursor: pointer;
		width: 100%;
		height: 44px;
		span {
			color: white;
		}
	}

	.warning-text {
		font-size: 11px;
		color: #F0C931;
		text-align: center;
	}
}
