.exchange-list {
    padding: 30px 95px 0px 0px;

    .item {
        display: flex;
        background-color: rgba(255,255,255,0.03);
        border: #707070;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 5px;

        p {
            font-size: 12px;
            margin-bottom: 0px;
            color: white;
        }

        .item-from {
            width: 25%;
        }

        .item-to {
            width: 25%;
        }

        .item-icon {
            width: 50%;
        }
    }
}