@import '~sass-extras/index';
@import '../../styles/variables';

.content {
	background-color: var(--widget-background-color);
}

.Exchange {
	--text-size: 13px;
	--header-text-size: 18px;
	// display: grid;
	// grid-template-areas:
	// 	'buy chart sell'
	// 	'buy swaps sell';
	// grid-template-rows: 1fr 1fr;
	// grid-template-columns: 280px 1fr 280px;
	// grid-gap: 20px;
	height: 100%;
	background-color: var(--widget-background-color);
	overflow: auto;
	
	&::before {
		content: ' ';
		position: absolute;
		width: 425px;
		height: 100%;
		background-image: url('../../assets/Wave.svg');
		top: 0px;
		right: 30px;
		background-size: cover;
	}

	main {
		height: 100%;
	}

	.title {
		margin-top: 60px;
		font-size: 22px;
		color: white;
	}

	nav {
		.TabButton {
			color: rgba(255,255,255,0.35);
			font-size: 14px;
		}

		.active {
			color: white;
			border-bottom: 1px solid #54A1DA;
		}
	}

	h3 {
		font-size: var(--header-text-size);
		font-weight: 500;
	}

	&--Buy {
		grid-area: buy;
	}

	&--Sell {
		grid-area: sell;
	}

	&--Chart {
		grid-area: chart;
	}

	&--Swaps {
		grid-area: swaps;
	}

	&--Buy,
	&--Sell,
	&--Chart,
	&--Swaps {
		display: flex;
		background-color: var(--widget-background-color);
		border-radius: 4px;
	}

	// @media (min-width: 1400px) {
	// 	grid-template-columns: 320px 1fr 320px;
	// }
}
